.w3-theme {
    color: #fff !important;
    background-color: #0A0903 !important;
}

.w3-code {
    border-left: 4px solid #0A0903
}

.w3-text-IE {
    color: #B66424!important
}

.myMenu {
    margin-bottom: 150px
}

#Imagem {
    display: none
}

#imagemSelecionada {
    width: 20%;
    height: auto;
}

.w3-btn {
    background-color: #B66424 !important;
}

